button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.3em;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.edit-container {
    width: 82vw;
    display: inline-block;
    transition: margin-right 10s;
}

.title-nav {
    width: 82vw;
    background-color: #e7eaec;
    position: fixed;
    z-index: 1501;
    top: 60px;
    height: 80px;
}

#title {
    display: inline-block;
    padding-left: 10px;
    line-height: 40px;
}

.newTitle {
    height: 50px;
    width: 30vw;
    font-size: 30px;
}

.button-cont {
    position: absolute;
    display: inline-block;
    line-height: 50px;
    right: 0px;
}

.edit-space {
    background-color: rgb(245, 245, 245);
    margin-top: 80px;
}

.test_box {
    resize: vertical;
    font-size: 20px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    min-height: 150px;
    outline: 0;
    border: 1px solid #acbee0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}

.choose-markdown {
    resize: vertical;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    box-shadow: 7px 6px 10px 1px #4b505b;
}

.markdown-box {
    padding-top: 1px;
}

.showMarkdown {
    font-size: large;
    font-weight: normal;
    margin: auto;
    min-height: 150px;
    width: 78vw;
    border-radius: 20px;
    height: fit-content;
    padding: 10px 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

textarea:focus {
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.topnav {
    position: fixed;
    z-index: 1;
    top: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcfcfc;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

.showDetail {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
    position: fixed;
    z-index: 1;
    top: 70px;
    overflow-x: hidden;
    width: 17vw;
    height: 100vh;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    transition: .5s;
}

.detail {
    margin: 10px;
}

.remarks {
    font-weight: lighter;
    height: 200px;
    width: 15vw;
    font-size: 20px;
}